tests/fixtures/prefer-named-ref-bad.json
{
  "name": "Prefer named ref (bad)",
  "nodes": [
    { "id": "1", "name": "Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 0], "parameters": {} },
    { "id": "2", "name": "Set A", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [200, 0], "parameters": {} },
    { "id": "3", "name": "Set B", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [200, 200], "parameters": {} },
    { "id": "4", "name": "Result", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [400, 100], "parameters": { "assignments": { "assignments": [{ "name": "value", "value": "={{ $json.field }}", "type": "string" }] } } }
  ],
  "connections": {
    "Trigger": { "main": [[{ "node": "Set A", "type": "main", "index": 0 }, { "node": "Set B", "type": "main", "index": 0 }]] },
    "Set A": { "main": [[{ "node": "Result", "type": "main", "index": 0 }]] },
    "Set B": { "main": [[{ "node": "Result", "type": "main", "index": 0 }]] }
  }
}
